@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Create New Category</h4>
                    <div class="form-group">
                        <label asp-for="Username">Username</label>
                        <input readonly class="form-control" asp-for="Username" placeholder="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                    <form class="forms-sample" method="post" asp-controller="User" asp-action="ChangePassword">
                        <div class="form-group">
                            <label asp-for="OldPassword">OldPassword</label>
                            <input class="form-control" asp-for="OldPassword" placeholder="OldPassword">
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword">NewPassword</label>
                            <input class="form-control" asp-for="NewPassword" placeholder="NewPassword">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">ConfirmPassword</label>
                            <input class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>




                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
